@import '../../../node_modules/normalize.css/normalize.css';
@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  line-height: $line-height;
  color: $dark-blue;
  background: $white;
  min-height: 100%;
}

body {
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.view {
  max-width: $viewport-width;
  width: $content-width;
  margin: 0 auto;
}