@import 'variables.scss';

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: $white;
    background: $dark-blue;
    z-index: 2;

    @media #{$bp-smartphones} {
        padding-bottom: 1rem;
    }
}

.footer__content {
    position: relative;
    display: flex;
    height: $footer-height;
    align-items: stretch;
    justify-content: space-around;
    max-width: $viewport-width;
    width: $content-width;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
}

.footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    text-align: center;
    padding: 0;
    border: none;
    transition: transform 200ms, opacity 200ms;

    &:hover {
       opacity: 0.75; 
    }

    &:active {
        transform: scale(0.9)
    }

    path {
        transition: fill 200ms;
    }
}

.footer__button--active {

    path {
        fill: $yellow;
    }
}

.add-event-button {
    position: absolute;
    top: -1.25rem;
    left: 50%;
    margin-left: -2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: darken($yellow, 5%);
    border-color: darken($yellow, 5%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
    transition: background-color 200ms, transform 200ms;

    &:hover,
    &:active,
    &:focus {
        opacity: 1;
        background: darken($yellow, 12%);
    }

    &:active {
        transform: scale(0.9)
    }

    @media #{$bp-smartphones} {
        width: 4rem;
        height: 4rem;
        top: -1rem;
        margin-left: -2rem;

        svg {
            width: 36px;
        }
    }
}
