@import 'variables.scss';

// GENERAL FORM STUFF
// -----------------------------------------------------

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__field {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
}

.field--half {
    width: 48%;
    flex: 0 0 48%;

    @media #{$bp-smartphones} {
      width: 100%;
      flex: 0 0 100%;
    }
}

.field--submit {
    margin-top: 2rem;
}


// INPUTS & LABELS
// -----------------------------------------------------

input, textarea, select {
    appearance: none;
    width: 100%;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    background: $white;
    padding: 0.7rem 0.9rem;
    outline: none;
    font-size: 1rem;
    line-height: $line-height;
    transition: 200ms all;

    &:focus {
        border-color: lighten($blue, 10%);
    }
}

textarea {
    resize: vertical;
}

[type=date] {
    line-height: 1.3;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    color: $gray;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}


// SELECT VEHICLE
// -----------------------------------------------------

.select-vehicle {
    color: $blue;
    font-weight: 700;
    font-size: 1.2rem;
    border-width: 2px;
    padding: 0.7rem 1.2rem;
}


// SELECT EVENT
// -----------------------------------------------------

.select-event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.select-event__item {
    width: 33%;
    flex: 0 0 33%;
    text-align: center;
    margin: 4vw 0;

    .event__icon {
        margin: 0 auto;
    }
}


// ERRORS
// -----------------------------------------------------

.input--error {
    border-color: $red;
}

.field-error {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    color: $red;
    margin-top: 0.5rem;
}
