@import 'variables.scss';

// GENERAL FORM STUFF
// -----------------------------------------------------

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__field {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1.5rem;

    @media #{$bp-smartphones} {
        &:last-child {
            margin-bottom: 1rem;
        }
    }
}

.field--half {
    width: calc(50% - 0.75rem);
    flex: 0 0 calc(50% - 0.75rem);

    @media #{$bp-smartphones} {
      width: 100%;
      flex: 0 0 100%;
    }
}

.field--third {
    width: 32%;
    flex: 0 0 32%;

    @media #{$bp-smartphones} {
        width: 100%;
        flex: 0 0 100%;
    }
}

.field--submit {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    @media #{$bp-smartphones} {
        margin-top: 0;
    }
}

.lost-password {
    margin-left: auto;

    @media #{$bp-smartphones} {
        margin: 1rem 0 0;
    }
}


// INPUTS & LABELS
// -----------------------------------------------------

input, textarea, select {
    appearance: none;
    width: 100%;
    border: 1px solid $light-gray;
    background: $white;
    padding: 0.7rem 1rem;
    border-radius: $border-radius;
    outline: none;
    font-size: 1rem;
    line-height: $line-height;
    transition: 200ms all;

    &:focus {
        border-color: lighten($blue, 10%);
    }
}

textarea {
    resize: vertical;
    padding: 0.7rem 0.9rem;
    border: 1px solid $light-gray;

}

input[type=text],
input[type=email],
input[type=date] {
    height: 3.024rem;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    color: $gray;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}


// SELECT VEHICLE
// -----------------------------------------------------

.select-vehicle {
    color: $blue;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid $light-gray;
    padding: 0.7rem 1.2rem;
}


// SELECT EVENT
// -----------------------------------------------------

.select-event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.select-event__item {
    width: 33%;
    flex: 0 0 33%;
    text-align: center;
    margin: 4vw 0;

    .event__icon {
        margin: 0 auto;
    }
}


// ERRORS
// -----------------------------------------------------

.input--error {
    border-color: $error;
}

.field-error {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    color: $error;
    margin-top: 0.5rem;
}
