@import 'variables.scss';

html {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    line-height: $line-height;
    color: $dark-blue;
    background: $gray-white;
}

body {
    min-height: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    padding: $header-height 0 (1.25 * $footer-height);

    @media #{$bp-smartphones} {
        padding: $header-height 0 (1.25 * $footer-height + 1rem);
    }
}

.content {
    max-width: $viewport-width;
    width: $content-width;
    margin: $viewport-spacing auto $viewport-spacing;
}

.content-box {
    max-width: $viewport-width;
    width: $content-width;
    margin: $viewport-spacing auto $viewport-spacing;
    background: $white;
    padding: 1.5rem;
    border: 1px solid $light-gray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    border-radius: $border-radius;

    @media #{$bp-smartphones} {
        padding: 1rem;
    }
}

.box--no-padding {
    padding: 0;
}
