@import 'variables.scss';

header {
    color: $white;
    background: $dark-blue;
    text-align: center;
    padding: 0.75rem 0;
    line-height: 0;
}

.header__home-link {
    display: inline-block;
    font-size: 0;
}
