// GENERAL
// -----------------------------------------------------

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $light-gray;

    @media #{$bp-smartphones} {
        display: block;
    }
}

.list-header__title {
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $light-gray;
    padding: 1rem 1.5rem;
}


// LINK LIST
// -----------------------------------------------------

// TODO: Finish this
.list-item__link svg {
    display: none;
}


// VEHICLE LIST
// -----------------------------------------------------

.vehicles-item__name {
    width: 30%;
    flex: 0 0 30%;
    font-weight: 700;

    @media #{$bp-smartphones} {
        width: 100%;
        flex: 0 0 100%;
    }
}

.vehicles-item__makemodel {
    width: 30%;
    flex: 0 0 30%;

    @media #{$bp-smartphones} {
        width: 100%;
        flex: 0 0 100%;
    }
}
