@import url(./../../node_modules/normalize.css/normalize.css);
html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  line-height: 1.55556;
  color: #233142;
  background: #FBFBFD; }

body {
  min-height: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

*, *:before, *:after {
  box-sizing: inherit; }

.page {
  padding: 4rem 0 5rem; }
  @media only screen and (max-width: 400px) {
    .page {
      padding: 4rem 0 6rem; } }

.content {
  max-width: 92vw;
  width: 1000px;
  margin: 4vw auto 4vw; }

.content-box {
  max-width: 92vw;
  width: 1000px;
  margin: 4vw auto 4vw;
  background: #FFFFFF;
  padding: 1.5rem;
  border: 1px solid #EAEDF3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px; }
  @media only screen and (max-width: 400px) {
    .content-box {
      padding: 1rem; } }

.box--no-padding {
  padding: 0; }

a {
  color: inherit;
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic; }

h1 {
  font-size: 1.8rem; }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 1.5rem; } }

h2 {
  font-size: 1.7rem; }
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.4rem; } }

h3 {
  font-size: 1.6rem; }
  @media only screen and (max-width: 400px) {
    h3 {
      font-size: 1.3rem; } }

h4 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 400px) {
    h4 {
      font-size: 1.2rem; } }

h5 {
  font-size: 1.4rem; }
  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.1rem; } }

h6 {
  font-size: 1.2rem; }
  @media only screen and (max-width: 400px) {
    h6 {
      font-size: 1.1rem; } }

button,
.button {
  display: inline-block;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #e0e5ed;
  background-image: linear-gradient(0deg, #FBFBFD 0%, #FFFFFF 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  line-height: 1.15;
  transition: 200ms all; }
  button:hover, button:active, button:focus,
  .button:hover,
  .button:active,
  .button:focus {
    border-color: #cad1e0;
    background-image: linear-gradient(0deg, #f8f8fb 0%, #FFFFFF 100%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
    outline: none; }
  button:active,
  .button:active {
    transform: scale(0.95); }
  button:disabled,
  .button:disabled {
    cursor: default;
    opacity: 0.5; }

.button--yellow {
  background: #FACF5A;
  border-color: #f9c841;
  background-image: linear-gradient(0deg, #facc50 0%, #fad369 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06); }
  .button--yellow:hover, .button--yellow:active, .button--yellow:focus {
    border-color: #f8bd1c;
    background-image: linear-gradient(0deg, #f9c841 0%, #facf5a 100%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18), inset 0 2px 0 0 rgba(255, 255, 255, 0.06); }

button + button {
  margin-left: 1rem; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background: #233142;
  z-index: 2; }

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  overflow: hidden;
  color: #FFFFFF;
  max-width: 92vw;
  width: 1000px;
  margin: 0 auto; }

.header__home-link {
  display: inline-block;
  font-size: 0; }

.header__title {
  margin: 0;
  line-height: 1; }

.header__back-link {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 0; }
  @media only screen and (max-width: 400px) {
    .header__back-link {
      left: 4vw; } }

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  background: #233142;
  z-index: 2; }
  @media only screen and (max-width: 400px) {
    footer {
      padding-bottom: 1rem; } }

.footer__content {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-around;
  max-width: 92vw;
  width: 1000px;
  margin: 0 auto;
  line-height: 0;
  font-size: 0; }

.footer__button {
  width: 4.5rem;
  text-align: center; }
  .footer__button svg {
    transition: transform 200ms; }
  .footer__button:active svg {
    transform: scale(0.95); }
  .footer__button path {
    transition: fill 200ms; }

.footer__button--active path {
  fill: #FACF5A; }

.add-event-button {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  margin-left: -2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #FACF5A;
  border-color: #f9c841;
  background-image: linear-gradient(0deg, #f9c63c 0%, #facf5a 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  transition: all 200ms; }
  .add-event-button:hover, .add-event-button:active, .add-event-button:focus {
    background: #f9c841; }
  .add-event-button:active {
    transform: scale(0.95); }
  @media only screen and (max-width: 400px) {
    .add-event-button {
      width: 4rem;
      height: 4rem;
      top: -1rem;
      margin-left: -2rem; }
      .add-event-button svg {
        width: 36px; } }

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.form__field {
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 1.5rem; }

.field--half {
  width: 48%;
  flex: 0 0 48%; }
  @media only screen and (max-width: 400px) {
    .field--half {
      width: 100%;
      flex: 0 0 100%; } }

.field--submit {
  margin-top: 2rem; }

input, textarea, select {
  appearance: none;
  width: 100%;
  border: 1px solid #EAEDF3;
  border-radius: 4px;
  background: #FFFFFF;
  padding: 0.7rem 0.9rem;
  outline: none;
  font-size: 1rem;
  line-height: 1.55556;
  transition: 200ms all; }
  input:focus, textarea:focus, select:focus {
    border-color: #57769b; }

textarea {
  resize: vertical; }

input[type=text],
input[type=email],
input[type=date] {
  height: 3.024rem; }

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  color: #9EA0A5;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }

.select-vehicle {
  color: #455D7A;
  font-weight: 700;
  font-size: 1.2rem;
  border-width: 2px;
  padding: 0.7rem 1.2rem; }

.select-event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }

.select-event__item {
  width: 33%;
  flex: 0 0 33%;
  text-align: center;
  margin: 4vw 0; }
  .select-event__item .event__icon {
    margin: 0 auto; }

.input--error {
  border-color: #E6492D; }

.field-error {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  color: #E6492D;
  margin-top: 0.5rem; }

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #EAEDF3; }
  @media only screen and (max-width: 400px) {
    .list-header {
      display: block; } }

.list-header__title {
  margin: 0; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #EAEDF3;
  padding: 1rem 1.5rem; }

.vehicles-item__name {
  width: 30%;
  flex: 0 0 30%;
  font-weight: 700; }
  @media only screen and (max-width: 400px) {
    .vehicles-item__name {
      width: 100%;
      flex: 0 0 100%; } }

.vehicles-item__makemodel {
  width: 30%;
  flex: 0 0 30%; }
  @media only screen and (max-width: 400px) {
    .vehicles-item__makemodel {
      width: 100%;
      flex: 0 0 100%; } }

.event-log {
  position: relative; }

.event-log-line {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 1.5rem;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #EAEDF3; }

.event-log-item {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: top;
  justify-content: stretch;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 400px) {
    .event-log-item {
      padding-bottom: 1rem; } }

.event__icon {
  width: 4rem;
  height: 4rem;
  flex: 0 0 4rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E6492D;
  padding: 1.25rem; }
  @media only screen and (max-width: 400px) {
    .event__icon {
      width: 3rem;
      height: 3rem;
      flex: 0 0 3rem;
      padding: 1rem;
      margin-right: 1.5rem; } }

.event__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.5em 0 0; }
  @media only screen and (max-width: 400px) {
    .event__title {
      font-size: 1.4rem;
      margin: 0.2rem 0 0; } }

.event__details {
  color: #455D7A; }

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #233142;
  overflow: hidden; }

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0.1;
    transform: translateY(-1rem); } }

.bouncing-loader {
  display: flex;
  justify-content: center; }

.bouncing-loader__dot {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #FFFFFF;
  border-radius: 50%;
  animation: bouncing-loader 600ms infinite alternate; }
  .bouncing-loader__dot:nth-child(2) {
    animation-delay: 200ms; }
  .bouncing-loader__dot:nth-child(3) {
    animation-delay: 200ms; }
