@import url(./../../node_modules/normalize.css/normalize.css);
html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  line-height: 1.55556;
  color: #233142;
  background: #233142; }

body {
  min-height: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

*, *:before, *:after {
  box-sizing: inherit; }

.page {
  min-height: 100vh;
  background: #FBFBFD;
  padding: 4rem 0 5rem;
  overflow: hidden; }
  @media only screen and (max-width: 400px) {
    .page {
      padding: 4rem 0 6rem; } }

.content {
  max-width: 92vw;
  width: 1000px;
  margin: 4vw auto 4vw; }

.box {
  max-width: 92vw;
  width: 1000px;
  margin: 4vw auto 4vw;
  background: #FFFFFF;
  border: 1px solid #EAEDF3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow: hidden; }

.box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #EAEDF3; }
  @media only screen and (max-width: 400px) {
    .box__header {
      padding: 0.75rem 1rem; } }
  .box__header h2 {
    margin: 0; }

.box__content {
  padding: 1.5rem; }
  @media only screen and (max-width: 400px) {
    .box__content {
      padding: 1rem; } }

.box__footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #EAEDF3; }
  @media only screen and (max-width: 400px) {
    .box__footer {
      padding: 0.75rem 1rem; } }

.box__footer--highlighted {
  background: #fffaef; }

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #233142; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic; }

h1 {
  font-size: 1.8rem; }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 1.4rem; } }

h2 {
  font-size: 1.7rem; }
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.35rem; } }

h3 {
  font-size: 1.6rem; }
  @media only screen and (max-width: 400px) {
    h3 {
      font-size: 1.3rem; } }

h4 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 400px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-size: 1.4rem; }
  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.2rem; } }

h6 {
  font-size: 1.2rem; }
  @media only screen and (max-width: 400px) {
    h6 {
      font-size: 1.15rem; } }

strong {
  font-weight: 700; }

.text-align--center {
  text-align: center; }

button,
.button {
  display: inline-block;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #e0e5ed;
  background-image: linear-gradient(0deg, #FBFBFD 0%, #FFFFFF 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  line-height: 1.15;
  transition: 200ms all; }
  button:hover, button:active, button:focus,
  .button:hover,
  .button:active,
  .button:focus {
    border-color: #cad1e0;
    background-image: linear-gradient(0deg, #f8f8fb 0%, #FFFFFF 100%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06); }
  button:active,
  .button:active {
    transform: scale(0.95); }
  button:disabled,
  .button:disabled {
    cursor: default;
    opacity: 0.5; }

.button--small {
  padding: 0.4rem 0.55rem;
  font-size: 0.9rem; }

.button--yellow {
  color: #233142;
  background: #FACF5A;
  border-color: #f9c841;
  background-image: linear-gradient(0deg, #facc50 0%, #fad369 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06); }
  .button--yellow:hover, .button--yellow:active, .button--yellow:focus {
    border-color: #f8bd1c;
    background-image: linear-gradient(0deg, #f9c841 0%, #facf5a 100%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18), inset 0 2px 0 0 rgba(255, 255, 255, 0.06); }

.button--add-first-vehicle {
  margin-top: 1rem; }

button + button {
  margin-left: 1rem; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background: #233142;
  z-index: 2; }

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  overflow: hidden;
  color: #FFFFFF;
  max-width: 92vw;
  width: 1000px;
  margin: 0 auto; }

.header__home-link {
  display: inline-block;
  font-size: 0;
  padding: 0;
  border: none; }

.header__title {
  margin: 0;
  line-height: 1; }

.header__back-link {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 0;
  transition: transform 200ms, opacity 200ms; }
  .header__back-link:hover {
    opacity: 0.75; }
  .header__back-link:active {
    transform: scale(0.9); }
  @media only screen and (max-width: 400px) {
    .header__back-link {
      left: 2vw; } }

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  background: #233142;
  z-index: 2; }
  @media only screen and (max-width: 400px) {
    footer {
      padding-bottom: 1rem; } }

.footer__content {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: stretch;
  justify-content: space-around;
  max-width: 92vw;
  width: 1000px;
  margin: 0 auto;
  line-height: 0;
  font-size: 0; }

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  text-align: center;
  padding: 0;
  border: none;
  transition: transform 200ms, opacity 200ms; }
  .footer__button:hover {
    opacity: 0.75; }
  .footer__button:active {
    transform: scale(0.9); }
  .footer__button path {
    transition: fill 200ms; }

.footer__button--active path {
  fill: #FACF5A; }

.add-event-button {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  margin-left: -2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #f9c841;
  border-color: #f9c841;
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  transition: background-color 200ms, transform 200ms; }
  .add-event-button:hover, .add-event-button:active, .add-event-button:focus {
    opacity: 1;
    background: #f8be1f; }
  .add-event-button:active {
    transform: scale(0.9); }
  @media only screen and (max-width: 400px) {
    .add-event-button {
      width: 4rem;
      height: 4rem;
      top: -1rem;
      margin-left: -2rem; }
      .add-event-button svg {
        width: 36px; } }

.icon {
  width: 4.5rem;
  height: 4.5rem;
  flex: 0 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E6492D; }
  @media only screen and (max-width: 400px) {
    .icon {
      width: 3rem;
      height: 3rem;
      flex: 0 0 3rem; } }

.icon--refuel {
  background: #E15554; }
  .icon--refuel svg {
    padding: 30%; }

.icon--oil-refill {
  background: #4D9DE0; }
  .icon--oil-refill svg {
    padding: 33%; }

.icon--oil-change {
  background: #7768AE; }
  .icon--oil-change svg {
    padding: 27.5%; }

.icon--tires-change {
  background: #E1BC29; }
  .icon--tires-change svg {
    padding: 25%; }

.icon--inspection-service {
  background: #3BB273; }
  .icon--inspection-service svg {
    padding: 22.5%; }

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.form__field {
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 400px) {
    .form__field:last-child {
      margin-bottom: 1rem; } }

.field--half {
  width: calc(50% - 0.75rem);
  flex: 0 0 calc(50% - 0.75rem); }
  @media only screen and (max-width: 400px) {
    .field--half {
      width: 100%;
      flex: 0 0 100%; } }

.field--third {
  width: 32%;
  flex: 0 0 32%; }
  @media only screen and (max-width: 400px) {
    .field--third {
      width: 100%;
      flex: 0 0 100%; } }

.field--submit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem; }
  @media only screen and (max-width: 400px) {
    .field--submit {
      margin-top: 0; } }

.lost-password {
  margin-left: auto; }
  @media only screen and (max-width: 400px) {
    .lost-password {
      margin: 1rem 0 0; } }

.required {
  color: #c6c7ca;
  margin-left: 0.3rem; }

.required-hint {
  display: block;
  font-size: 0.9rem;
  color: #9EA0A5;
  margin-bottom: 0.5rem; }

input, textarea, select {
  appearance: none;
  width: 100%;
  border: 1px solid #EAEDF3;
  background: #FFFFFF;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  line-height: 1.55556;
  transition: 200ms all; }
  input:focus, textarea:focus, select:focus {
    border-color: #57769b; }

textarea {
  resize: vertical;
  min-height: 3rem;
  padding: 0.7rem 0.9rem;
  border: 1px solid #EAEDF3; }

input[type=text],
input[type=email],
input[type=date] {
  height: 3.024rem; }

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  color: #9EA0A5;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }

.select-vehicle {
  color: #455D7A;
  font-weight: 700;
  font-size: 1.2rem;
  border: 2px solid #EAEDF3;
  padding: 0.7rem 1.2rem; }

.select-event {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }

.select-event__item {
  width: 33%;
  flex: 0 0 33%;
  text-align: center;
  margin: 4vw 0; }
  .select-event__item .event__icon {
    margin: 0 auto; }

.input--error {
  border-color: #B00020; }

.field-error {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  color: #B00020;
  margin-top: 0.5rem; }

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #EAEDF3; }

.list-header__title {
  margin: 0; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #EAEDF3;
  padding: 1rem 1.5rem;
  height: 4.5rem; }
  @media only screen and (max-width: 400px) {
    .list-item {
      height: auto; } }

.link-list-item {
  border-bottom: 1px solid #EAEDF3; }

.link-list-item__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 4.5rem;
  background-color: #FFFFFF;
  border: none;
  transition: background-color 200ms; }
  .link-list-item__link:hover, .link-list-item__link:active {
    background-color: #f6f7f8; }

.link-list-item__icon {
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  margin-right: 1rem; }

.link-list-item__arrow {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -0.5rem;
  width: 0.6rem; }

.link-list-label {
  font-size: 1rem;
  margin: 0.3rem 0 0.2rem; }

.vehicles-item__namemakemodel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  flex: 0 0 60%; }

.vehicles-item__name {
  width: 50%;
  flex: 0 0 50%;
  font-weight: 700; }
  @media only screen and (max-width: 400px) {
    .vehicles-item__name {
      width: 100%;
      flex: 0 0 100%; } }

.vehicles-item__makemodel {
  width: 50%;
  flex: 0 0 50%; }
  @media only screen and (max-width: 400px) {
    .vehicles-item__makemodel {
      width: 100%;
      flex: 0 0 100%; } }

.event-log {
  position: relative; }

.event-log-line {
  z-index: 0;
  position: absolute;
  top: 0.7rem;
  left: 2.25rem;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #EAEDF3; }
  @media only screen and (max-width: 400px) {
    .event-log-line {
      left: 1.5rem;
      top: 0.9rem; } }

.event-log-item {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: stretch;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 400px) {
    .event-log-item {
      padding-bottom: 2rem; } }
  .event-log-item:last-child:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 2.25rem;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background: #FBFBFD; }
    @media only screen and (max-width: 400px) {
      .event-log-item:last-child:after {
        left: 1.5rem;
        top: 0.9rem; } }

.event__icon {
  position: relative;
  z-index: 2;
  margin-top: 0.7rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 400px) {
    .event__icon {
      margin-top: 0.9rem;
      margin-right: 1.5rem; } }

.event__date {
  color: #455D7A;
  margin: 0; }

.event__title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.3rem 0;
  padding: 0;
  border: none;
  transition: opacity 200ms; }
  @media only screen and (max-width: 400px) {
    .event__title {
      font-size: 1.2rem;
      margin: 0.2rem 0 0; } }

.event__details {
  color: #455D7A;
  margin: 0; }

.event__edit {
  display: inline-block;
  margin-top: 0.5rem; }

.quick-statistics {
  display: flex;
  flex-wrap: wrap; }

.quick-statistic {
  width: 50%;
  flex: 0 0 50%;
  text-align: center; }
  @media only screen and (max-width: 400px) {
    .quick-statistic {
      width: 100%;
      flex: 0 0 100%;
      margin: 1rem 0; } }

.quick-statistic__number {
  font-size: 3rem;
  font-weight: 700; }

.quick-statistic__unit {
  font-size: 1rem;
  margin-left: 0.25em; }

.quick-statistic__empty-state {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: #9EA0A5;
  padding: 1.75rem 0 0.75rem; }
  @media only screen and (max-width: 400px) {
    .quick-statistic__empty-state {
      padding: 1rem; } }

.notification {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 700; }
  @media only screen and (max-width: 400px) {
    .notification {
      padding: 0.25rem 1rem; } }

.notification--standalone {
  max-width: 92vw;
  width: 1000px;
  margin: 4vw auto 4vw;
  padding: 0.5rem 3.75rem 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  border: 1px solid #EAEDF3; }
  @media only screen and (max-width: 400px) {
    .notification--standalone {
      padding: 0.25rem 1rem 0.25rem 1rem; } }

.notification--inside-form {
  flex: 0 0 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 1rem; }

.notification--error {
  background: #B00020;
  color: #FFFFFF;
  border-color: #a1001d; }

.notification--success {
  background: #11ad6a;
  color: #FFFFFF;
  border-color: #109f61; }

.notification--warning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #f7e6e9;
  color: #B00020;
  border-color: #f5dee2;
  font-weight: normal; }

.notification--empty-state {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: #9EA0A5;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 400px) {
    .notification--empty-state {
      padding: 0.25rem 1rem 0.25rem 1rem; } }

.hide-notification {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  transform: rotate(45deg);
  transition: opacity 200ms; }
  @media only screen and (max-width: 400px) {
    .hide-notification {
      top: 1.25rem;
      right: 1rem; } }
  .hide-notification:hover, .hide-notification:active {
    opacity: 0.5;
    transform: rotate(45deg);
    background: none;
    box-shadow: none; }
  .hide-notification:focus {
    outline: none; }

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #233142;
  overflow: hidden; }

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0.1;
    transform: translateY(-1rem); } }

.bouncing-loader {
  display: flex;
  justify-content: center; }

.bouncing-loader__dot {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #FFFFFF;
  border-radius: 50%;
  animation: bouncing-loader 600ms infinite alternate; }
  .bouncing-loader__dot:nth-child(2) {
    animation-delay: 200ms; }
  .bouncing-loader__dot:nth-child(3) {
    animation-delay: 200ms; }

.bouncing-loader__dot--blue {
  background: #455D7A; }
