.notification {
    position: relative;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 700;

    @media #{$bp-smartphones} {
        padding: 0.25rem 1rem;
    }
}

.notification--standalone {
    max-width: $viewport-width;
    width: $content-width;
    margin: $viewport-spacing auto $viewport-spacing;
    padding: 0.5rem 3.75rem 0.5rem 1.5rem;
    border-radius: $border-radius;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    background: $white;
    border: 1px solid $light-gray;

    @media #{$bp-smartphones} {
        padding: 0.25rem 1rem 0.25rem 1rem;
    }
}

.notification--inside-form {
    flex: 0 0 100%;
    border-radius: $border-radius;
    border: 1px solid transparent;
    margin-top: 1rem;
}

.notification--error {
    background: $error;
    color: $white;
    border-color: darken($error, 3%);
}

.notification--success {
    background: $success;
    color: $white;
    border-color: darken($success, 3%);
}

.notification--warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: mix($error, $white, 10%);
    color: $error;
    border-color: mix($error, $white, 13%);
    font-weight: normal;
}

.notification--empty-state {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: $gray;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media #{$bp-smartphones} {
        padding: 0.25rem 1rem 0.25rem 1rem;
    }
}

.hide-notification {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    transform: rotate(45deg);
    transition: opacity 200ms;

    @media #{$bp-smartphones} {
        top: 1.25rem;
        right: 1rem;
    }

    &:hover,
    &:active {
        opacity: 0.5;
        transform: rotate(45deg);
        background: none;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}
