.notification {
    position: relative;
    padding: 0.5rem 3.75rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 700;

    @media #{$bp-smartphones} {
        padding: 0.75rem 1rem;
    }
}

.notification--standalone {
    max-width: $viewport-width;
    width: $content-width;
    margin: $viewport-spacing auto $viewport-spacing;
    border-radius: $border-radius;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.notification--error {
    background: $error;
    color: $white;
    border-color: darken($error, 3%);
}

.notification--success {
    background: $success;
    color: $white;
    border-color: darken($success, 3%);
}


.hide-notification {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    transform: rotate(45deg);
    transition: opacity 200ms;

    &:hover,
    &:active {
        opacity: 0.5;
        transform: rotate(45deg);
        background: none;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}
