.quick-statistics {
    display: flex;
    flex-wrap: wrap;
}

.quick-statistic {
    width: 50%;
    flex: 0 0 50%;
    text-align: center;

    @media #{$bp-smartphones} {
        width: 100%;
        flex: 0 0 100%;
        margin: 1rem 0;
    }
}

.quick-statistic__number {
    font-size: 3rem;
    font-weight: 700;
}

.quick-statistic__unit {
    font-size: 1rem;
    margin-left: 0.25em;
}

.quick-statistic__empty-state {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: $gray;
    padding: 1.75rem 0 0.75rem;
}
