// COLORS

$dark-blue:          #233142;
$blue:               #455D7A;
$yellow:             #FACF5A;
$white:              #FFFFFF;
$gray-white:         #FBFBFD;
$light-gray:         #EAEDF3;
$gray:               #9EA0A5;
$red:                #E6492D;

$fuel:               #E15554;
$tires-change:       #E1BC29;
$oil-refill:         #4D9DE0;
$oil-change:         #7768AE;
$inspection-service: #3BB273;

$error:              #B00020;
$success:            #4BB543;


// OTHER STUFF

$content-width:       1000px;
$viewport-width:      92vw;
$viewport-spacing:    4vw;
$header-height:       4rem;
$footer-height:       4rem;
$border-radius:       4px;
$line-height:         1.555555;
$transition:          200ms ease-in-out;


// BREAKPOINTS

$bp-smartphones:         "only screen and (max-width: 400px)";
