// COLORS

$dark-blue:         #233142;
$blue:              #455D7A;
$yellow:            #FACF5A;
$red:               #F95959;
$white:             #FFFFFF;
$gray-white:        #FBFBFD;
$light-gray:        #EAEDF3;
$gray:              #9EA0A5;
$red:               #E6492D;


// OTHER STUFF

$content-width:       1000px;
$viewport-width:      94vw;
$header-height:       4rem;
$footer-height:       4rem;
$border-radius:       4px;
$line-height:         1.555555;
$transition:          200ms ease-in-out;


// BREAKPOINTS

$breakpoint1:         "only screen and (max-width: 1200px)";
$breakpoint2:         "only screen and (max-width: 1000px)";
$breakpoint3:         "only screen and (max-width: 800px)";
$breakpoint4:         "only screen and (max-width: 800px)";
